.slider-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 54vh; */
  /* margin-left: 10%; */
  /* width: auto; */
  /* padding-left: -70%; */
  object-fit: cover;
  overflow: hidden; 
}

.slide {
  position: relative;
  width: 150vh; /* Adjust the width of the slide container */
  height: 56vh;
  overflow: hidden;
}

.slide img {
  width: 100%; /* Set width to 100% to cover the entire container */
  height: 56vh; /* Keep the height consistent */
  position: absolute;
  left: 0;
  right: 0; /* Set right to 0 to make the image cover the entire width */
  object-fit: cover;
}