.slider-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
  /* margin-left: 10%; */
  /* width: 90vh; */
  /* padding-left: -70%; */
  /* object-fit: contain;
  overflow: hidden;  */
}

.slide img {
  width: 80vh;
  /* Adjust the width as needed */
  height: -10vh;
  /* padding-left: -10%; */
  justify-content: center;
  align-items: center;
  object-fit: contain;
}