.bg-light-blue {
    background-color: lightblue;
}


.bg-orange {
    background-color: rgb(206, 170, 98);
    /* Light Orange color */
}

.bg-pink {
    background-color: lightpink;
}
.bg-aqua{
    background-color: rgba(108, 190, 199, 0.939) ;
}

.bg-green{
    background-color: rgba(115, 184, 127, 0.809);
}